<!DOCTYPE html>
<html lang="en" ng-app="himssApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bilirubin</title>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="himssCtrl" ng-cloak>
		<header class="navbar navbar-inverse navbar-static-top" role="navigation">
			<p class="navbar-brand"><span class="glyphicon glyphicon-user"></span>{{patient.name}}</p>
			<p class="navbar-text">sex <span class="title">{{patient.sex}}</span></p>
			<p class="navbar-text">dob <span class="title">{{patient.dob | date: 'dd MMM yyyy HH:mm'}}</span></p>
			<p class="navbar-text">age <span class="title">{{patient.dob | age}}</span></p>
            <img style="position:absolute;z-index: 1000; right:15px;top:3px;height: 45px" src="images/intermountainCenterVertical.png">
		</header>
		<div class="container-fluid">
			<div class="row" style="height: 100%">
				<highchart config="chartConfig" class="col-xs-6" style="height: 100%"></highchart>
				<div class="col-xs-6">
					<table class="table table-striped">
						<tr>
							<th>Date/Time</th>
							<th>Result</th>
							<th>Age (Hrs)</th>
							<th>Value:Test</th>
							<th>Risk Zone</th>
						</tr>
						<tr ng-repeat="value in values | orderBy:'appliesDateTime'">
							<td>{{value.appliesDateTime | date:'MM/dd/yyyy HH:mm'}}</td>
							<td>{{value.valueQuantity.value}}</td>
							<td>{{hours(value.appliesDateTime, patient.dob) | number:2}}</td>
							<td style="text-transform: capitalize;">{{value.name.coding[0].display}}</td>
							<td>{{risk(value.valueQuantity.value, hours(value.appliesDateTime, patient.dob))}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
		<script src="//code.highcharts.com/highcharts.js"></script>
		<script src="//code.highcharts.com/highcharts-more.js"></script>
		<script src="lib/highcharts-ng.min.js"></script>
		<script src="../../js/fhir-client.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
	</body>
</html>
